<a class="btn btn-primary btn-float mat-btn" routerLink="/users/new">
	<i class="zmdi zmdi-plus"></i>
</a>
<div class="col-sm-12">
	<table class="table table-condensed" style="width: 100%">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</tr>
		</thead>
        <tbody *ngFor="let item of userList">
            <tr>
                <td>
                    <a routerLink="/users/edit/{{item.firstName}}/{{item.lastName}}/{{item.email}}">{{item.firstName}}</a>
                </td>
                <td> {{item.lastName}} </td>
                <td> {{item.email}} </td>
            </tr>
        </tbody>
	</table>
</div>
<div class="col-xs-12 col-sm-6 col-lg-6 text-right p-r-0">
    <span #paginate id="this-is-for-pager"></span>
</div>