<aside id="sidebarContainer">
	<div class="aside-profile" (click)="dropHeader()">
		<img src="./assets/images/profile.jpeg">
		<div class="labeled">
			<div class="name ellipsis">Rowel de Guzman</div>
			<div class="email ellipsis">rowel.deguzman@roweldev.com</div>
		</div>
		<div class="header-dropdown-icon">
			<i class="zmdi zmdi-chevron-down zmdi-hc-fw" aria-hidden="true"></i>
		</div>
	</div>
	<nav [perfectScrollbar] id="for-scroll" [disabled]="scrollbarDisableOnMobile">
		<ul class="list-unstyled">
			<div class="aside-dropdown" style="display: none;">
				<ul class="list-unstyled">
					<li>
						<a routerLink="/sample-page/profile">
							<i class="zmdi zmdi-account"></i>
							<span>Profile</span>
						</a>
					</li>
					<li>
						<a>
							<i class="zmdi zmdi-swap"></i>
							<span>Switch account</span>
						</a>
					</li>
					<li>
						<a (click)="logout()">
							<i class="zmdi zmdi-time-restore"></i>
							<span>Logout</span>
						</a>
					</li>
				</ul>
			</div>
			<li>
				<a routerLink="/home" [ngClass]="{'active': contains('home')}">
					<div class="icon-circle">
						<i class="zmdi zmdi-home"></i>
					</div>
					<!--
					-->
					<span>Home</span>
				</a>
			</li>
			<li>
				<a routerLink="/about" [ngClass]="{'active': contains('typography')}">
					<div class="icon-circle">
						<i class="zmdi zmdi-format-underlined"></i>
					</div>
					<!--
					-->
					<span>About</span>
				</a>
			</li>
			<li>
				<a routerLink="/contact-us" [ngClass]="{'active': contains('typography')}">
					<div class="icon-circle">
						<i class="zmdi zmdi-format-underlined"></i>
					</div>
					<!--
					-->
					<span>Contact Us</span>
				</a>
			</li>
			<li>
				<a routerLink="/carrer" [ngClass]="{'active': contains('typography')}">
					<div class="icon-circle">
						<i class="zmdi zmdi-format-underlined"></i>
					</div>
					<!--
					-->
					<span>Carrer</span>
				</a>
			</li>
			<li>
				<a routerLink="/singlepage" [ngClass]="{'active': contains('typography')}">
					<div class="icon-circle">
						<i class="zmdi zmdi-format-underlined"></i>
					</div>
					<!--
					-->
					<span>Single Page</span>
				</a>
			</li>
		</ul>
		<div class="bottom-collapser">
			<div class="bottom-toggler" (click)="expandNav()">
				<i class="zmdi zmdi-chevron-right"></i>
			</div>
		</div>
	</nav>
</aside>
<div class="overlay" (click)="expandNavHead()"></div>